/FrontEnd/build
/FrontEnd/node_modules
/FrontEnd/package-lock.json

.DS_Store
# Configurações do Visual Studio
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Arquivos de log e temporários
*.log
*.nupkg
*.snupkg
*.tmp
*.temp

# Arquivos de pacotes e dependências
packages/
*.dll
*.exe
*.pdb
*.cache
*.mdb
*.ilk
*.lib
*.obj

/BackEnd/WorkerApi/bin/
/BackEnd/WorkerApi/obj/
/BackEnd/WorkerApi/Debug/
/BackEnd/WorkerApi/Release/

/BackEnd/WorkerRepositories/bin/
/BackEnd/WorkerRepositories/obj/
/BackEnd/WorkerRepositories/Debug/
/BackEnd/WorkerRepositories/Release/

/BackEnd/WorkerSecurity/bin/
/BackEnd/WorkerSecurity/obj/
/BackEnd/WorkerSecurity/Debug/
/BackEnd/WorkerSecurity/Release/

/BackEnd/WorkerServices/bin/
/BackEnd/WorkerServices/obj/
/BackEnd/WorkerServices/Debug/
/BackEnd/WorkerServices/Release/

/BackEnd/WorkerModels/bin/
/BackEnd/WorkerModels/obj/
/BackEnd/WorkerModels/Debug/
/BackEnd/WorkerModels/Release/